# Force LF line endings for all text files
* text=auto eol=lf

# Explicitly binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.wav binary
*.mp3 binary
*.ogg binary
*.so binary
*.pyc binary
